.solution_mini_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in;
}

.solution_mini_card:hover {
    cursor: pointer;
    transform: scale(1.05);
}