.carousel__items__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.carousel__items__container > div:not(:last-child) {
    margin-right: 40px;
}

.carousel__items__container::-webkit-scrollbar {
    display: none;
}