.input__select {
    background-color: #D2D2D2;
    font-family: 'Montserrat', sans-serif;

}

.input__select option {
    background-color: #FFFFFF !important;
    font-family: 'Montserrat', sans-serif;
}

.input__select option:hover {
    background-color: #D2D2D2 !important;
}

.select_is_open {
    transform: rotate(180deg);
}